* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Gloria Hallelujah', cursive;
  font-family: 'Livvic', sans-serif;
  font-family: 'Montserrat', sans-serif;
}
.container {
  width: 1110px;
  margin: 0 auto;
}
.header {
  height: 789px;
  flex-shrink: 0;
  background: #014E56;
  background-image: url(../img/Group\ 8.png), url(../img/Group\ 7.png);
  background-repeat: no-repeat;
  background-position: left top 245px, right bottom;
}
.nav__inner {
  padding-top: 77px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__left {
  display: flex;
  align-items: center;
}
.nav__inner ul {
  margin-left: 80px;
  list-style-type: none;
  display: flex;
}
.nav__inner li a {
  margin-right: 40px;
  text-decoration: none;
  color: #FFF;
  font-family: Livvic;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; 
}
.nav__btn {
  border: 2px solid #fff;
  border-radius: 30px;
  background: transparent;
  color: #FFF;
  font-family: Livvic;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  width: 153px;
  height: 48px;
  transition: .3s;
}
.nav__btn:hover {
  box-shadow: 0 3px 3px 0 #000000;
  background: #02555e;
}
.contact {
  margin-top: 100px;
}
.contact__inner {
  display: flex;
  justify-content: space-between;
}
.contact__left h1 {
  color: #FFF;
  font-family: Livvic;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 100px; 
}
.contact__left h2 {
  color: #F67E7E;
  font-family: Livvic;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  margin-top: 16px;
  margin-bottom: 32px;
}
.left__list {
  list-style-type: none;
}
.left__item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.left__item img {
  margin-right: 23px;
}
.left__item p{
  color: #FFF;
  font-family: Livvic;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
.contact__right {
  display: block;
  width: 542px;
  height: 420px;
}
.contact__right input {
  color: #FFF;
  opacity: .7;
  font-family: Livvic;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px; 
  letter-spacing: -0.115px;
  margin-bottom: 24px 0px;
  padding: 15px 0 0 20px;
  width: 445px;
  background: transparent;
  border: none;
}
.contact__right img {
  opacity: 0.6;
}
.rec {
  margin-top: 58px;
}
.right_btn {
  margin-top: 24px;
}
.right_btn button {
  color: #004047;
  font-family: Livvic;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  border-radius: 24px;
  border: 2px solid #FFF;
  background: #FFF;
  width: 123px;
  height: 48px;
  flex-shrink: 0;
  transition: .3s;
}
.right_btn button:hover {
  color: #FFF;
  box-shadow: 0 3px 3px 0 #000000;
  background: #02555e;
}
.footer__bottom {
  padding: 48px 0;
  height: 196px;
  background: #002529;
}
.footer__bottom__inner {
  display: flex;
  justify-content: space-between;
}
.footer__bottom ul {
  list-style-type: none;
}
.footer__myteam ul{
  display: flex;
  list-style-type: none;
  margin-top: 25px;
}
.footer__myteam a {
  margin-right: 40px;
  text-decoration: none;
  color: #FFF;
  font-family: Livvic;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
.footer__info p{
  color: #FFF;
  opacity: 0.6;
  font-family: Livvic;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.footer__contact p {
  color: #FFF;
  opacity: 0.6;
  font-family: Livvic;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}
.logo {
  display: flex;
  justify-content: right;
  margin-bottom: 51px;
}